{% trans_default_domain 'FOSUserBundle' %}
<div class="box-body">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-horizontal' } }) }}
    {% include 'Form/horizontal.html.twig' %}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn  btn-success"/>
    </div>
{{ form_end(form) }}
</div>
