{% trans_default_domain 'messages' %}

{% extends 'base.html.twig' %}
{% block header %}
    <h1>
        {{ 'app.account'|trans }}
        <small>{{ app.user.email }}</small>
    </h1>
{% endblock %}
{% block content %}
<!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
{%endblock%}
