{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<body class="hold-transition registration-page">
<div class="login-box">
    <div class="login-logo">        
         <img src="{{ asset('build/images/logo-small.png') }}" alt="Logo">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" style="width:100%;">
        <p>
			{% include "@FOSUser/Registration/confirmed.html.twig" %}
		</p>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<!-- Main Footer -->
{% include 'footer.html.twig' %}
</body>
{% endblock %}