div(style="display: none")
    form.notification
        h3.notificationTitle New Notification
        input.playerId(type="hidden")
        .name
            label.form-label Message
            textarea.form-control(name="message", rows="5", cols="5")
            .invalid-feedback